collector_id: tokyo01
data_root: /data
bootstrap_instruments:
  # universe/bootstrap-2026-08-10T120017Z/stage-20.members.txt
  - 1000PEPEUSDT
  - ADAUSDT
  - BEATUSDT
  - BICOUSDT
  - BMTUSDT
  - BNBUSDT
  - BTCUSDT
  - CYSUSDT
  - DOGEUSDT
  - EPICUSDT
  - ETHUSDT
  - HYPEUSDT
  - MUBARAKUSDT
  - PUMPUSDT
  - SOLUSDT
  - TSTUSDT
  - TUTUSDT
  - WLDUSDT
  - XRPUSDT
  - ZECUSDT
public_ws_url: wss://fstream.binance.com/public/stream
market_ws_url: wss://fstream.binance.com/market/stream
rest_url: https://fapi.binance.com
public_connection_shards: 4
connection_rotation_seconds: 82800
connection_overlap_seconds: 15
open_interest_interval_seconds: 30
exchange_info_interval_seconds: 86400
clock_sample_interval_seconds: 60
snapshot_request_interval_seconds: 2.0
queue_max_bytes: 134217728
queue_warn_ratio: 0.70
queue_resume_ratio: 0.50
chunk_max_seconds: 60
chunk_max_bytes: 268435456
chunk_max_events: 1000000
writer_batch_events: 5000
writer_batch_bytes: 4194304
spool_max_bytes: 10737418240
minimum_free_bytes: 5368709120
storage_check_seconds: 5
control_poll_seconds: 30
log_level: INFO
